.cursor {
  border-color: black;
  border-radius: 50%;
  border: 1px solid black;
  position :fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1000;
  cursor: none;
  
}